.terminal {
    display:flex;
    justify-content:left;
    margin:20px 0 50px
}
.terminal .inner {
    padding:10px 20px;
    border-radius:4px;
    background-color:#2D2E2C
}
#terminal, #terminal .xterm, #terminal .xterm * {
    font-family: 'VT323', monospace !important;
    color: #39FF14 !important; /* Green phosphor */
}
.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}
.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}
